<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ea_reminder">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"

        android:usesCleartextTraffic="true"

        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".BoardSetting"
            android:windowSoftInputMode="adjustResize"></activity>
        <activity android:name=".MainSetting" />
        <activity android:name=".MainBoard" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver android:name=".Alarm_notification">
            <intent-filter>
                <action android:name="com.example.ea_reminder.alarming"></action>
            </intent-filter>
        </receiver>

    </application>
    <uses-permission android:name="android.permission.INTERNET"/>
    <permission android:name="com.name.name.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="com.name.name.permission.C2D_MESSAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK"></uses-permission>
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS"/>
</manifest>